@model About
@{
    ViewData["Title"] = "Update";
}
<div class="card">
    <div class="card-header">
        Update
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="BirthDay"></label>
                <input asp-for="BirthDay" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control">
            </div>
            <button class="btn btn-success" type="submit">Save</button>
        </form>
    </div>
</div>
